/*
Style.css
*/

/* style generale per img */
img {
  border: 0;
  display:block;
  margin: 0 auto;
}



#contacts {
    display: inline-block;
}
/* 
	vengono gestite le proporzioni rispetto alla larghezza della pagina (300,768,1200), in particolare gestiamo:
	-i riquadri della home
	-le immagini nei riquadri della home
	-i menu laterali nelle pagine di doctor, service e location
	-i bottoni e i filtri in transition doctor
	-le distanze tra scritta e immagine nelle pagine di trasisioni
	-i margini relativi alle descrizioni delle singole pagine specifiche
	*/
@media (min-width: 300px) {
    .docRow {
        width: 40%;
    }
	.image-news{
		width:50%;
		margin-top:5%;
	}
	.image-mail{
		width:60%;	
		margin-top:15%;
	}
	.home-topic-img{
		width: 90%;
		text-align: center;
		margin: 0% 0% 0% 0%;
	}    
	.panel-body-home{
		padding-right: 15px;
		padding-left: 35px;
		padding-top: 5%;
		padding-bottom: 0%;
	}
	.border-img-home{
		border: 1px solid red;
		margin-top: 15px;
	}
	.margin-text{
	  padding-right: 8%;
	  padding-left: 8%;
	}
    #fixed {
        margin: 10px;
        width: 100%;
    }
    .divFilter {
        display: block;
        width: 100%;
    }
    .ricercaDoctor {
    height: 18%;
    text-align: center;
}
}

@media (min-width: 768px) {
    .docRow {
        width: 52%;
    }
	.menu-laterale{
		width:30%;
	}
	.descrizione{
		width:70%;
	}
	.image-news{
		width:60%;
		margin-top:25%;
	}
	.image-mail{
		width:60%;	
		margin-top:35%;
	}
	.home-topic-img{
		width: 100%;
		max-width: 180px;
		text-align: center;
		margin: 0% 0% 0% 0%;
	}
	.panel-body-home{
		padding-right: 2%;
		padding-left: 2%;
		padding-top: 2%;
		padding-bottom: 0%;
	}
	.border-img-home{
		border: 1px solid red;
		margin-top: 40px;
	}
	.margin-text{
	  padding-right: 6%;
	}
    #fixed {
        position: fixed;
        margin: 10px;
        width: 30%;
    }
    .divFilter {
        display: inline-block;
        width: 31%;
    }
    .ricercaDoctor {
    border: 1px solid lightgray;
    height: 18%;
    text-align: center;
}
}

@media (min-width: 1200px) {
    .docRow {
        width: 70%;
    }
	.menu-laterale{
		width:30%;
	}
	.descrizione{
		width:70%;
	}
	.image-news{
		width:60%;
		margin-top:5%;
	}
	.image-mail{
		width:60%;	
		margin-top:15%;
	}
	.home-topic-img{
		width: 100%;
		max-width: 180px;
		text-align: center;
		margin: 0% 0% 0% 0%;
	}
	.panel-body-home{
		padding-right: 24px;
		padding-left: 24px;
		padding-top: 2%;
		padding-bottom: 0%;
	}
	.border-img-home{
		border: 1px solid red;
		margin-top: 10px;
	}
	.margin-text{
	  padding-right: 4%;
	}
    #fixed {
        position: fixed;
        margin: 10px;
        width: 30%;
    }
    .divFilter {
        display: inline-block;
        width: 31%;
    }
    .ricercaDoctor {
    border: 1px solid lightgray;
    height: 18%;
    text-align: center;
}
}

/*class for filter in transition doctor */

select {
    text-indent: 4%; 
}

.byName {
    margin-top: 1%;
    margin-left: 0.6%;
    width: 100%;
    height: 40%;
    vertical-align: middle;
}

.resetFilter {
    margin-top: 0.8%;
    margin-right: 8%;
    margin-bottom: 2%;
    width: 20%;
    height: 40%;
    float: right;
    vertical-align: middle;
}

.secondaDiv {
    margin-top: 1%;
    margin-left: 2%;
    width: 60%;
    height: 40%;
    vertical-align: middle;
}

.buttonFilter{
    margin-top: 0.8%;
    width: 20%;
    height: 40%;
    vertical-align: middle;
}
/*end classes*/

 .topic-img {
    width: 40%;
    height: 34%;
    float: left;
    margin: 0% 2% 0.2% 0%;
}
/* imposto uno margine interno dal basso */
.top-box{
	padding-bottom:3%;
}
/* impostazioni home */
.p-home{
  display: inline-block;
  margin-top: 2%;
  text-align:center;
}
/* impostazioni per le immagini nella pagina di doctor */
.topic-img-doctor {
    float: left;
	display: inline-block;
    margin: 0% 4% 2% 4%;
	padding: 1% 3% 2% 3%;
	width:28%;
}
/* impostazioni per le immagini nella pagina di service */
.topic-img-service {
    float: left;
	display: inline-block;
    margin: 2% 4% 2% 4%;
	width:35%;
}
/* nascondo */
.location {
    display: hidden;
}
/* nuovi valori per la row, diversi da quelli di bootstrap */
.row {
  margin-right: -20px;
  margin-left: -20px;
}

.content {
    float: right;
}
/* impostazione dello style del menu in WhoWeAre */
.menuwho {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 10px;
}
/* style per la lista di opzioni nelle pagine di transition */
.listofoptions {
    display: inline-block;
    float: none;
    width: 100%;
}
/* allineo il testo in basso e ne fisso la grandezza nelle pagine di transition*/
.text-center-trans{
	font-size:35px;
    text-decoration: none;
	text-align: bottom;
	padding: 30px,30px,30px,30px;
}
/* coloro il testo in rosso per evidenziare i link cliccabili */
 .text-red{
	color: red;
 }
 /* imposto style dell'immagine nella transition page */
 .pos-img{
	float: right;
	margin-right: 30%;
	width:37%;
	margin-top: 5%;
 }
/* setto l'allineamento dei blocchi */
.pos-block{
	display: inline-block;
}
/* creo il riquadro rosso intorno all'immagine per far capire che è cliccabile*/
.border-img-home{
	border: 1px solid red;
	margin-top: 10px;
}
/* margine superiore per i testi nelle pagine singole */ 
.top-distance{
	margin-top:3%;
}

/* shift verso il basso per le ncora interne in whoweare per vedere correttamente il titolo del topic al di sotto del menu del sito */
.anchor {
    position:relative;
    top:-60px; 
    display: block;
}